* {
  box-sizing: border-box;
}

body {
  background: lightsteelblue;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  margin: 0;
}
